---
import { localize, type LocalizationPath, messages } from '../../i18n';
const prefix: LocalizationPath = 'homepage.recommendationSection';

const defaultRecommendationPicture =
  'https://res.cloudinary.com/kevin-castro/image/upload/v1695349792/sylvia-castro/default-profile-picture.png';

const recommendationsEn = messages.en.homepage.recommendationSection.recommendations;
const recommendationsEs = messages.es.homepage.recommendationSection.recommendations;
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2
        class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl"
        x-text={localize(prefix, 'header')}
      >
        Trusted by public and private organizations for over 20 years
      </h2>
      <div class="gap-y-6 lg:grid lg:grid-cols-3">
        {
          recommendationsEn.map((recommendation) => (
            <figure
              class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0"
              x-bind:class="{ 'hidden': $locale() === 'es' }"
            >
              <figcaption class="flex flex-col gap-4">
                <img
                  class="mx-auto h-8 w-8 rounded-full"
                  src={recommendation.image || defaultRecommendationPicture}
                  alt={recommendation.name}
                />
                <div class="text-center">
                  <div class="text-base font-medium">{recommendation.name}</div>
                </div>
              </figcaption>
              <blockquote class="text-md text-center italic leading-loose text-primary-950/70 dark:text-primary-200/70">
                <p>{`“${recommendation.message}”`}</p>
              </blockquote>
            </figure>
          ))
        }
      </div>
      <div class="gap-y-6 lg:grid lg:grid-cols-3">
        {
          recommendationsEs.map((recommendation) => (
            <figure
              class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0"
              x-bind:class="{ 'hidden': $locale() === 'en' }"
            >
              <figcaption class="flex flex-col gap-4">
                <img
                  class="mx-auto h-8 w-8 rounded-full"
                  src={recommendation.image || defaultRecommendationPicture}
                  alt={recommendation.name}
                />
                <div class="text-center">
                  <div class="text-base font-medium">{recommendation.name}</div>
                </div>
              </figcaption>
              <blockquote class="text-md text-center italic leading-loose text-primary-950/70 dark:text-primary-200/70">
                <p>{`“${recommendation.message}”`}</p>
              </blockquote>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
